---
openapi: 3.1.0

servers:
  - url: https://sender.api.kivra.com
    description: Production environment
  - url: https://sender.sandbox-api.kivra.com
    description: Sandbox environment
info:
  title: Kivra Sweden API
  x-logo:
    url: "assets/Kivra_logo_1920X1080_green.png"
    altText: Kivra logo # don't rename this without fixing assets/redoc-styles.css
  description:
    $ref: "./_partials/api-introduction.yml#/introText"

tags:
  - name: "Tenant API - Content"
    description: Endpoints for matching users and sending content
  - name: "Tenant API - Forms"
    description: |
      Endpoints for working with form templates and responses
  - name: "Tenant API - Registered letters"
    description: |
      Endpoints for fetching and removing registered letter responses.

      A registered letter ensures secure delivery by requiring the recipient to sign before viewing the letter's content, providing proof of receipt.

      The responses can later be collected and removed by the sender.
  - name: "Tenant API - Tickets (BETA)"
    description: |
      **Note that this feature is not yet available. It will become available in June 2026.**
  - name: "Tenant API - Tenant Management"
    description: Endpoints for creation and administration of tenants (v2)
  - name: "Tenant API - Agreements"
    description: Endpoints for managing signatures and agreements
  - name: "Tenant API - Payment Webhooks"
    description: |
      Endpoints used to set up, list and remove webhook definitions, and webhook payloads.
  - name: "Partner API v1"
    description: |
      Endpoints for partner access to company mailboxes.
  - name: "Partner API v3"
    description: |
      # Webhook - Authentication
      When Kivra sends webhook requests to your endpoint, you need to verify that
      these requests are genuine and come from Kivra. The webhook authentication
      scheme is based on HMAC signatures with a shared secret.

      For each webhook request, Kivra includes the following HTTP headers:

      ```
      X-KIVRA-TIMESTAMP: <timestamp>
      X-KIVRA-SIGNATURE: v1=<signature>
      ```

      Where `<timestamp>` is the Unix timestamp in seconds when the webhook
      delivery attempt was made (UTC), and `<signature>` is our HMAC (see
      below).

      Kivra will send one signature header per secret in rotation. This is to
      allow zero downtime key rotation.

      ```
      X-KIVRA-TIMESTAMP: <timestamp>
      X-KIVRA-SIGNATURE: v1=<signature1>
      X-KIVRA-SIGNATURE: v1=<signature2>
      ```

      To verify a webhook request:

      1. Extract the timestamp `t` from the `X-KIVRA-TIMESTAMP` header
      2. Verify the timestamp is within your acceptable time drift tolerance to
         prevent replay attacks
      3. Prepare the message string: `message = t + ":" + request_body` (the raw
         request body)
      4. Compute a SHA-256 HMAC using your shared secret: `signature =
         HMAC-SHA256(message, shared_secret)`
      5. Compare the generated signature with each signature in the
         `X-KIVRA-SIGNATURE` headers
      6. If ANY signature matches, the request is authentic

      The receiver determines what time drift is acceptable. Requests with
      timestamps outside this tolerance should be rejected to prevent replay
      attacks.

      # Webhook - Event payload
      The webhook payload is a JSON object with the following fields:

      - `id`: Unique identifier for the event. Guaranteed to stay the same
        between retries, and therefore can be used to deduplicate events.
      - `event_created_at`: unix timestamp in seconds when the event happened
        (UTC). This will stay the same even when retried. See the
        `X-KIVRA-TIMESTAMP` header for the time the event was sent.
      - `event_type`: a tag describing what happened, e.g. "content.created".
      - `data_version`: the version of `data` being sent.
      - `data`: the `event_type` specific data.

      The `event_type` and `data_version` together determine the shape of the
      `data` field. Backwards compatible changes, such as addtions of new
      fields, will not increment the `data_version`. However, for breaking
      changes `data_version` will be incremented. In practice this means you
      must be able to handle extra fields.

      ```jsonc
      {
        "id": "event_3f62fc97907a4212af028c30f1ea1927",
        "event_created_at": 1686089970,
        "event_type": "content.created",
        "data_version": 1,
        "data": {
          // Event-specific payload
        }
      }
      ```

      # Webhook - Responding
      The response must be a 200 OK or Kivra will retry a little while later.
      This means Kivra can only gurantee a "at-least-once" delivery and it is up
      to you do handle duplicated events. To make this a bit easier Kivra will
      use the same `event_id` for every retry.

      Note that `event_created_at` and `X-KIVRA-TIMESTAMP` are unrelated. The
      former is set when the event happened, the latter for each attempt.

x-tagGroups:
  - name: Tenant API
    tags:
      - "Tenant API - Content"
      - "Tenant API - Forms"
      - "Tenant API - Registered letters"
      - "Tenant API - Tickets (BETA)"
      - "Tenant API - Tenant Management"
      - "Tenant API - Agreements"
      - "Tenant API - Payment Webhooks"
  - name: Partner API
    tags:
      - "Partner API v1"
      - "Partner API v3"

paths:
  /vX/hamburger:
    get:
      summary: Get your burger
      operationId: Get your burger
      description: Get your free hamburger
      security:
        - oAuth2Client:
            - "get:kivra.vX.hamburger"
      responses:
        200:
          description: empty response confirming that the put operation was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  variant:
                    type: string
                    example: "Royale with Cheese"

  # ##############################################
  # POST, GET /v2/tenant
  # ##############################################
  /v2/tenant:
    post:
      tags:
        - "Tenant API - Tenant Management"
      summary: Create Tenant
      operationId: Create Tenant (v2)
      description: |
        Creation of tenants via API allows clients to create new tenants in an efficient manner. The created tenant is automatically added to the client scope. The client needs to re-authenticate to have the new scope in effect.
        <aside class="notice">
        Note: Creation of tenants via API is only allowed in certain specific cases and its usage needs to be regulated in the business relationship between the sender party and Kivra.
        </aside>
      security:
        - oAuth2Client:
            - "post:kivra.v2.tenant"
      responses:
        200:
          description: |
            Tenant already existing and added to the client scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant_v2"
          headers:
            kivra-objkey:
              description: Tenant Key
              schema:
                type: string
                format: "hexadecimal value"
            location:
              description: URL to created Object
              schema:
                type: string
                format: url
        201:
          description: |
            Tenant Created succesfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant_v2"
          headers:
            kivra-objkey:
              description: Tenant Key
              schema:
                type: string
                format: "hexadecimal value"
            location:
              description: URL to created Object
              schema:
                type: string
                format: url
        409:
          description: |
            The tenant could not be created because of a conflict, meaning that a tenant with the same `orgnr` already exists and cannot be automatically added to the client scope. The client may use the `request_access` endpoint to request access to this tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error40915"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tenant_v2"
    get:
      tags:
        - "Tenant API - Tenant Management"
      summary: List tenants
      operationId: List all tenants accessible to the client
      description: Lists all tenants that are manageable by the current client
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant"
      parameters:
        - name: orgnr
          in: query
          description: Perform a search to see if a specific Company is available
          required: false
          schema:
            description: Companies unique Vat Number
            type: string
            example: SE556840226601
      responses:
        200:
          description: |
            List of available users
          content:
            application/json:
              schema:
                type: array
                description: List of tenants, can be empty
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      description: Tenant ID
                  example:
                    [
                      { "key": "155748793356fa20e402ae472e51019cf723d7fe35" },
                      { "key": "150231793356fa88a88eae472e51019cf723d7d13a" },
                    ]

  # ##############################################
  # GET /v2/tenant/TKEY
  # ##############################################
  /v2/tenant/{tenantKey}:
    get:
      tags:
        - "Tenant API - Tenant Management"
      summary: Tenant information
      operationId: Get information on tenant
      description: Get detailed information on a tenant
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      responses:
        200:
          description: |
            Tenant information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant_v2"

  # ##############################################
  # PUT /v2/tenant/TKEY/name
  # ##############################################
  /v2/tenant/{tenantKey}/name:
    put:
      tags:
        - "Tenant API - Tenant Management"
      summary: Update tenant name
      operationId: Update tenant name
      description: Update display name for the tenant. The updated name will be visible to the end-users only after they have received a new content.
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "put:kivra.v2.tenant.{tenantKey}.name"
      responses:
        200:
          description: empty response confirming that the put operation was successful
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Lenas Konditori AB"

  # ##############################################
  # POST /v2/tenant/TKEY/company_id
  # ##############################################
  /v2/tenant/{tenantKey}/company_id:
    post:
      tags:
        - "Tenant API - Tenant Management"
      summary: Associate company ID to tenant
      operationId: Add company ID
      description: |
        Add a new company ID for a tenant. A tenant can be associated with one or more company ids (Vat number and company name)
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "post:kivra.v2.tenant.{tenantKey}.company_id"
      responses:
        204:
          description: empty response confirming that the post operation was successful
        409:
          description: Another tenant with the same `orgnr` already exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error40915"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  $ref: "#/components/schemas/CompanyId"

  # ##############################################
  # DELETE /v2/tenant/TKEY/company_id/{orgnr}
  # ##############################################
  /v2/tenant/{tenantKey}/company_id/{orgNr}:
    delete:
      tags:
        - "Tenant API - Tenant Management"
      summary: Delete company ID from tenant
      operationId: Delete company ID
      description: |
        Delete a  company ID from a tenant. A tenant can be associated with one or more company ids (Vat number and company name)
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: orgNr
          in: path
          description: The VAT number of the company_id to be removed from the tenant, for instance `SE556840226601`
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "delete:kivra.v2.tenant.{tenantKey}.company_id.{orgnr}"
      responses:
        204:
          description: empty response confirming that the put operation was successful

  # ##############################################
  # POST /v2/tenant/TKEY/icon
  # ##############################################
  /v2/tenant/{tenantKey}/icon:
    post:
      tags:
        - "Tenant API - Tenant Management"
      summary: Provide an icon for a tenant
      operationId: Provide icon
      description: |
        Add or update the tenant icon. If an icon already exists, it will be changed.

        To check the current icon associated to a tenant you can simply check the following address:

        * sandbox: https://sandbox-static.kivra.com/img/tenant/{tenantKey}/icon.png
        * production: https://static.kivra.com/img/tenant/{tenantKey}/icon.png

        The icon needs to be provided according to the following format:

        * Dimensions: squared icon with size between 256x256 px and 512x512 px
        * Alpha Channel: 32-bits
        * Format: PNG
        * File size: up to 1MB

        We recommend to leave a little white area around the logo, to provide the best experience for the users.
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "post:kivra.v2.tenant.{tenantKey}.icon"
      responses:
        204:
          description: empty response confirming that the put operation was successful
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  $ref: "#/components/schemas/Icon"
            example:
              {
                "file": {
                  "name": "fancy icon",
                  "data": "REVBR ...... EJFRUY=",
                  "content_type": "image/png",
                },
              }

  # ##############################################
  # POST /v2/tenant/request_access
  # ##############################################
  /v2/tenant/request_access:
    post:
      tags:
        - "Tenant API - Tenant Management"
      summary: Request access to a tenant
      operationId: Request access
      description: |
        Request access to an existing tenant that is outside the client scope. Typically this request follows an unsuccessful attempt to create a tenant that resulted in a conflict error (error 409).

        The meaning of the conflict error is that a tenant is already associated to a `company_id` including the same `orgnr` as in the tenant that the client attempted to post, and the tenant who owns the `orgnr` is outside the scope for the client.

        In Kivra, it is allowed to have several different flows on the same tenant, for example one flow for invoices and another flow for salary slips. As these flows could be managed by different clients, we need a mechanism to allow sharing a tenant between clients.
        The `request_access` endpoint provide this functionality. As the request may be granted (or denied) asynchronously, after a successfull call to `request_access` the client will need to poll the request until it becomes `accepted` or `rejected`.

        As allowing access to a new tenant requires modification of the scope for the client, an authorization must be performed once the request has been accepted, to retrieve an access token with the new scope.

        If the client posts a new identical request (requesting the same `OrgNr` for the same client), the same object will be returned with an updated status.
      security:
        - oAuth2Client:
            - "post:kivra.v2.tenant.request_access"
      responses:
        201:
          description: Data about the requested tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestAccess"
          headers:
            kivra-objkey:
              description: Object Key for the Request (requestKey)
              schema:
                type: string
                format: "hexadecimal value"
            location:
              description: The complete API url for where to check the status of this request
              schema:
                type: string
                format: "hexadecimal value"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vat_number:
                  type: string
                  example: "SE556840226601"

  # ##############################################
  # GET /v2/tenant/request_access/{requestKey}
  # ##############################################
  /v2/tenant/request_access/{requestKey}:
    get:
      tags:
        - "Tenant API - Tenant Management"
      summary: Status of an access request
      operationId: Request access status
      description: |
        Gets the updated status for a request generate using the `request_access` endpoint.
      parameters:
        - name: requestKey
          in: path
          description: The unique Key for a request
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.request_access.{requestKey}"
      responses:
        200:
          description: Data about the requested tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestAccess"
          headers:
            kivra-objkey:
              description: Object Key for the Request
              schema:
                type: string
                format: "hexadecimal value"


  # ##############################################
  # POST v2 usermatching
  # ##############################################
  /v2/tenant/{tenantKey}/usermatch/ssn:
    post:
      tags:
        - "Tenant API - Content"
      summary: Match a list of ssns to recipient for a specific tenant (v2)
      operationId: Match Users ssn v2
      description: |
        This resource is used to match a list of users to check that they are eligible for receiving Content from the specific Tenant.
        The request contains a list of recipient SSNs to be matched, and the response is a filtered list containing only the SSNs
        that are eligible to receive content from the tenant.
        <aside class="notice">
          If none of the provided SSNs are eligible to receive content from this tenant, an empty list will be returned.
        </aside>
      parameters:
        - name: tenantKey
          in: path
          description: The tenant key the matching should be done against. Recipients that opt-out from the tenant will be excluded.
          required: true
          schema:
            type: string
            format: hexadecimal
      requestBody:
        description: |
          List of SSNs to be matched. The payload can be up to 10MB in size, corresponding to about 500.000 SSNs.
          If the payload exceeds 10MB, Kivra will respond with a 413 error.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserMatchV2SSN"
            example:
              list: ["191212121212", "197701032380", "198112172385"]
        required: true
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}.usermatch.ssn"
      responses:
        200:
          description: Filtered list of SSNs that matched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserMatchV2SSN"
              example:
                list: ["191212121212", "198112172385"]

  /v2/tenant/{tenantKey}/usermatch/verified_email:
    post:
      tags:
        - "Tenant API - Content"
      summary: Match a list of emails to recipients for a specific tenant (v2)
      operationId: Match Users verified_email v2
      description: |
        This resource is used to match a list of users to check that they are eligible for receiving Content from the specific Tenant.
        The request contains a list of recipient email addresses to be matched, and the response is a filtered list containing only the
        email addresses that are eligible to receive content from the tenant.
        Email matching is case insensitive, but the queried email case is returned as submitted.
        <aside class="notice">
          If none of the provided email addresses are eligible to receive content from this tenant, an empty list will be returned.
        </aside>
      parameters:
        - name: tenantKey
          in: path
          description: The tenant key the matching should be done against. Recipients that opt-out from the tenant will be excluded.
          required: true
          schema:
            type: string
            format: hexadecimal
      requestBody:
        description: |
          List of email addresses to be matched. The payload can be up to 10MB in size.
          If the payload exceeds 10MB, Kivra will respond with a 413 error.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserMatchV2Email"
            example:
              list: ["fOO@example.com", "bAr@EXAMPLE.COM", "XYZ@example.COM"]
        required: true
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}.usermatch.verified_email"
      responses:
        200:
          description: Filtered list of email addresses that matched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserMatchV2Email"
              example:
                list: ["fOO@example.COM", "bAr@EXAMPLE.COM"]

  /v2/tenant/{tenantKey}/companymatch/vatnr:
    post:
      tags:
        - "Tenant API - Content"
      summary: Match a list of VAT numbers to recipients for a specific tenant (v2)
      operationId: Match Companies VatNr v2
      description: |
        This resource is used to match a list of Companies to check that they are eligible for receiving Content from a specific Tenant.
        The request contains a list of VAT numbers to be matched, and the response is a filtered subset of said list containing only those VAT numbers matching a Company Recipient for which the Tenant is eligible to send Content to.
        <aside class="notice">
          If none of the provided VAT numbers match a Recipient eligible to receive content from the given Tenant, an empty list will be returned.
        </aside>
      parameters:
        - name: tenantKey
          in: path
          description: The Tenant key that the matching should be done on behalf of.
          required: true
          schema:
            type: string
            format: hexadecimal
      requestBody:
        description: |
          List of VAT numbers to be matched. The payload can be up to 10MB in size, corresponding to about 500.000 VAT numbers.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyMatchSet"
            example:
              list: ["SE559408724801", "SE556917354401", "SE556840226601"]
        required: true
      security:
        - oAuth2Client:
            - "post:kivra.v2.tenant.{tenantKey}.companymatch.vatnr"
      responses:
        200:
          description: Filtered list of VAT numbers that matched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyMatchSet"
              example:
                list: ["SE556840226601", "SE559408724801"]
        413:
          description: Payload exceeded 10MB — try splitting into multiple calls instead.

  /v2/tenant/{tenantKey}/companymatch/vatnr_with_active_partner_integration:
    post:
      tags:
        - "Tenant API - Content"
      summary: Match a list of VAT numbers to recipients that have an active partner integration for a specific tenant.
      operationId: Match Companies With PAPI VatNr
      description: |
        This resource is used to match a list of Companies to check that they
        have an active integration with a partner fetching from their company inbox
        and are eligible for receiving Content from a specific Tenant.

        **Note:**
        This is only for specific use cases, and will not give you all eligible recipients.
        You most likely want to use [the regular company match](#tag/Tenant-API-Content/operation/Match%20Companies%20VatNr%20v2).

        The request contains a list of VAT numbers to be matched, and
        the response is a filtered subset of said list containing only
        those VAT numbers matching a Company Recipient for which the Tenant
        is eligible to send Content to, and have an active partner integration.

        <aside class="notice">
          If none of the provided VAT numbers match a Recipient eligible to receive content from the given Tenant, an empty list will be returned.
        </aside>
      parameters:
        - name: tenantKey
          in: path
          description: The Tenant key that the matching should be done on behalf of.
          required: true
          schema:
            type: string
            format: hexadecimal
      requestBody:
        description: |
          List of VAT numbers to be matched. The payload can be up to 10MB in size, corresponding to about 500.000 VAT numbers.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyMatchSet"
            example:
              list: ["SE559408724801", "SE556917354401", "SE556840226601"]
        required: true
      security:
        - oAuth2Client:
            - "post:kivra.v2.tenant.{tenantKey}.companymatch.vatnr_with_active_partner_integration"
      responses:
        200:
          description: Filtered list of VAT numbers that matched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyMatchSet"
              example:
                list: ["SE556840226601", "SE559408724801"]
        413:
          description: Payload exceeded 10MB — try splitting into multiple calls instead.

  # ##############################################
  # GET /v1/tenant/TKEY/company
  # ##############################################
  /v1/tenant/{tenantKey}/company:
    get:
      tags:
        - "Tenant API - Content"
      summary: List available recipient companies for a tenant
      operationId: List Companies
      description: |
        This resource is used to list all, or search for specific, Companies that are eligible for receiving Content from the specific Tenant. The response is a JSON list of Objects containing the eligible Companies' VAT number.

        A search is done by providing the `vat_number` query parameter. If a search is done and the Company does not exist or have opted out of receiving Content from the Tenant an empty list will be returned.
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: vat_number
          in: query
          description: Perform a search to see if a VAT number matches an eligible Company Recipient of the Tenant.
          required: false
          schema:
            $ref: "#/components/schemas/VatNumber"
      security:
        - oAuth2Client:
            - "get:kivra.v1.tenant.{tenantKey}.company"
      responses:
        200:
          description: |
            List of Companies' keys and VAT numbers which are eligible Recipients of the Tenant.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyList"

  /v2/tenant/{tenantKey}/company:
    get:
      tags:
        - "Tenant API - Content"
      summary: List available recipient companies for a tenant (v2)
      operationId: List Companies v2
      description: |
        NOTE: Access to this resource might be enabled via agreement.

        This resource is used to list all companies that are eligible
        for receiving Content from the specific Tenant.
        The `diff-id` contained in the response header can be used to fetch added/removed
        companies in subsequent requests to the "diff" endpoint described below.
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}.company"
      responses:
        200:
          description: |
            List of eligible company recipients
          headers:
            diff-id:
              description: |
                An ID that can be used in a subsequent request to
                `/v2/tenant/{tenantKey}/company/diff/{diffId}` to fetch companies
                that were added/removed since `diffId` was obtained
              schema:
                type: string
                example: "3831CD15163421134211695294"
          content:
            application/json:
              schema:
                type: array
                description: List of eligible company recipients, can be empty
                items:
                  type: object
                  properties:
                    vatnr:
                      $ref: "#/components/schemas/VatNumber"

  /v2/tenant/{tenantKey}/company/diff/{diffId}:
    get:
      tags:
        - "Tenant API - Content"
      summary: |
        List recipient companies that were added/removed since a previous request (v2)
      operationId: List Companies Diff
      description: |
        NOTE: Access to this resource might be enabled via agreement.

        This resource is used to list companies that were added/removed since
        `diffId` was obtained, either from an initial request to the
        `/v2/tenant/{tenantKey}/company` endpoint, or from a subsequent request
        to this endpoint. Note that all `diffId`s that are obtained in a
        series of requests expire 31 days after the **initial** request.
        Therefore, API users must fetch the complete company list at least once
        every 31 days.
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: diffId
          in: path
          description: |
            ID that was returned in header in a previous request and is used
            to calculate which companies have been added/removed between then
            and now
          required: true
          schema:
            type: string
            example: "3831CD15163421134211695294"
      security:
        - oAuth2Client:
            - "get:kivra.v1.tenant.{tenantKey}.user.diff.{diffId}"
      responses:
        200:
          description: |
            Lists of added/removed companies
          headers:
            diff-id:
              description: |
                An ID that can be used in a subsequent request to
                `/v2/tenant/{tenantKey}/company/diff/{diffId}` to fetch companies
                that were added/removed since `diffId` was obtained
              schema:
                type: string
                example: "3831CD15163421134211695294"
          content:
            application/json:
              schema:
                type: object
                properties:
                  added:
                    type: array
                    description: List of added users
                    items:
                      type: object
                      properties:
                        vatnr:
                          $ref: "#/components/schemas/VatNumber"
                  removed:
                    type: array
                    description: List of removed users
                    items:
                      type: object
                      properties:
                        vatnr:
                          $ref: "#/components/schemas/VatNumber"
        404:
          description: |
            The diffId does not exist (potentially because it has expired).

  # ##############################################
  # /v2/tenant/TKEY/content
  # ##############################################
  /v2/tenant/{tenantKey}/content:
    $ref: "./_partials/path-v2-tenantkey-content.yml"

  # ##############################################
  # POST, GET /v1/tenant/tenantKey/form
  # ##############################################
  /v2/tenant/{tenantKey}/form:
    post:
      tags:
        - "Tenant API - Forms"
      summary: Create form template
      operationId: createFormTemplate
      description: |
        A form template is a list of questions you would like to ask users. When sending content you can attach a form you would like a user to complete.

        Form templates are owned by the client that created them. What this means is that only the client can call the response endpoints.
        However if the client has the tenant scope it can call form template endpoints and even include a form when sending content.

        ### How to send a form to the user
        When sending a content to the user include the form template key in the context object. See `Tenant API - Content` -> `Send content (v2)` for more information.
      security:
        - oAuth2Client:
            - "post:kivra.v1.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The tenant key for the tenant who is creating the form template.
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        200:
          description: |
            Form template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormTemplate"
        400:
          description: |
            Can't process the request. Likely due to a client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormErrorResponse"
              examples:
                invalid_json:
                  value:
                    code: 40000
                    short_message: "Invalid JSON"
                    long_message: "Could not parse posted body as JSON"
        401:
          description: |
            Not authorized to make the request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormTemplate"
    get:
      tags:
        - "Tenant API - Forms"
      summary: Get form template keys
      operationId: getFormTemplateKey
      description: |
        Given a tenant key returns all form template keys associated with forms they created.
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique key for a tenant for whom the form templates belongs to.
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        200:
          description: |
            List of form template keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormTemplateListing"
        401:
          description: |
            Not authorized to make the request

  # ##############################################
  # GET /v2/tenant/{tenantKey}/form/{formTemplateKey}
  # ##############################################
  /v2/tenant/{tenantKey}/form/{formTemplateKey}:
    get:
      tags:
        - "Tenant API - Forms"
      summary: Get form template
      operationId: getFormTemplate
      description: |
        Given a tenant key and a form template key returns the form template that the tenant created.
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique key for a tenant for whom the form template belongs to
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: formTemplateKey
          in: path
          description: The form template key associated with the form template
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: |
            Form template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormTemplate"
        401:
          description: |
            Not authorized to make the request
        404:
          description: |
            Form template not found

  # ##############################################
  # GET /v2/tenant/{tenantKey}/form/{formTemplateKey}/responses
  # ##############################################
  /v2/tenant/{tenantKey}/form/{formTemplateKey}/responses:
    get:
      tags:
        - "Tenant API - Forms"
      summary: Get form response keys
      operationId: getFormResponseKeys
      description: |
        Only the client that created the form template associated with the response can call this endpoint.

        Given a tenant key and a form template key returns the form response key associated with form responses submitted by users.
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique key for a tenant for whom the form responses belong to.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: formTemplateKey
          in: path
          description: The form template key associated with the form responses.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: |
            Form response ids
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormResponseKeys"
        400:
          description: |
            Can't process the request. Likely due to a client error.
        401:
          description: |
            Not authorized to make the request
        403:
          description: |
            Forbidden from accessing the form response keys
        404:
          description: |
            The form template associated with formTemplateKey does not exist.

  # ##############################################
  # GET, DELETE /v2/tenant/{tenantKey}/form/{formTemplateKey}/responses/{responseKey}
  # ##############################################
  /v2/tenant/{tenantKey}/form/{formTemplateKey}/responses/{formResponseKey}:
    get:
      tags:
        - "Tenant API - Forms"
      summary: Get form response
      operationId: getFormResponse
      description: |
        Only the client that created the form template associated with the response can call this endpoint.

        Given a tenant key, form template key and form response key returns the form response submitted by a user.
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique key for a tenant for whom the form response belongs to.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: formTemplateKey
          in: path
          description: The form template key associated with the form template.
          required: true
          schema:
            type: string
            format: uuid
        - name: formResponseKey
          in: path
          description: The form response key associated with the form response.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: |
            Form response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormResponse"
        400:
          description: |
            Can't process the request. Likely due to a client error.
        401:
          description: |
            Not authorized to make the request
        403:
          description: |
            Forbidden from accessing the form response keys
        404:
          description: |
            Either the form template associated with the given formTemplateKey does not exist or the form response associated with the given responseKey does not exist.
    delete:
      tags:
        - "Tenant API - Forms"
      summary: Delete form response
      operationId: deleteFormResponse
      description: |
        Given a tenant key, form template key and form response key deletes the form response submitted by a user.

        Only the client that created the form template associated with the response can call this endpoint.

        ### Form responses potentially contain sensitive data. You are recommended to delete form responses from Kivra as you consume them.
      security:
        - oAuth2Client:
            - "delete:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant for whom the form belongs to.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: formTemplateKey
          in: path
          description: The form_template_key associated with the form template.
          required: true
          schema:
            type: string
            format: uuid
        - name: formResponseKey
          in: path
          description: The form response key associated with the form responses.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        204:
          description: |
            Form deleted
        400:
          description: |
            Can't process the request. Likely due to a client error.
        401:
          description: |
            Not authorized to make the request
        403:
          description: |
            Forbidden from accessing the form response keys
        404:
          description: |
            Either the form template associated with the given formTemplateKey does not exist or the form response associated with the given responseKey does not exist.

  # ##############################################
  # GET /v2/tenant/{tenantKey}/registered
  # ##############################################
  /v2/tenant/{tenantKey}/registered:
    get:
      tags:
        - "Tenant API - Registered letters"
      summary: Get all responses
      operationId: getAllRegisteredLetterResponses
      description: |
        Get the responses of all registered letters that have been signed or expired.
        The response key can then be used to fetch the response details of each registered letter and also to delete the response.
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique key for a tenant for whom the registered letters belong to.
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        200:
          description: |
            List of response statuses associated with registered letters that have been either signed or expired.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RegisteredLetterResponseStatusDetail"
        401:
          description: |
            Not authorized to make the request
        404:
          description: |
            No registered letter responses
  # ##############################################
  # GET, DELETE /v2/tenant/{tenantKey}/registered/{responseKey}
  # ##############################################
  /v2/tenant/{tenantKey}/registered/{responseKey}:
    get:
      tags:
        - "Tenant API - Registered letters"
      summary: Get response details
      operationId: getRegisteredLetterResponse
      description: |
        Get the response status of a registered letter sent by a tenant.
        A user can sign a registered letter or let it expire.

        When a user signs a registered letter, it is removed from their account, and the response is stored.
        If the letter is not signed before its expiration date, it is automatically removed as well. In both cases the response is stored.

        When sending a registered letter a `sender_reference` can be included.
        This is an optional field that can be used to store an internal reference with the registered letter.
        This field is included when fetching the response of a registered letter.
      security:
        - oAuth2Client:
            - "get:kivra.v2.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique tenant key that the registered letters belong to.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: responseKey
          in: path
          description: The unique key of a registered letter response.
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        200:
          description: |
            The registered letter response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredLetterResponse"
        401:
          description: |
            Not authorized to make the request
    delete:
      tags:
        - "Tenant API - Registered letters"
      summary: Delete response
      operationId: deleteRegisteredLetterResponse
      description: |
        Delete a registered letter response.
        Automatically deleted after 30 days.
      security:
        - oAuth2Client:
            - "delete:kivra.v1.tenant.{tenantKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The tenant key for the tenant who sent the registered letter.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: responseKey
          in: path
          description: The unique key of a registered letter response.
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        204:
          description: |
            Registered letter response deleted.
        400:
          description: |
            Can't process the request. Likely due to a client error.
        401:
          description: |
            Not authorized to make the request.
        403:
          description: |
            Forbidden from accessing the registered letter response.
        404:
          description: |
            The registered letter response does not exist.

  # ##############################################
  # POST /v1/tenant/{tenantKey}/ticket/event
  # ##############################################
  /v1/tenant/{tenantKey}/ticket/event:
    post:
      tags:
        - "Tenant API - Tickets (BETA)"
      summary: Create a new event
      operationId: createTenantEvent
      description: |
        Before a content of type ticket.event can be sent an event must first be created.
        This endpoint is used to create a new event. The event can then be referenced when sending content of type ticket.event.
        See the ticket metadata in v2 content API for more information on how to send content of type ticket.event.

        Note that the tenant owns the event and as such the tenant that creates the event must also send the content.
      security:
        - oAuth2Client: []
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketsCreateEvent"
            examples:
              Example:
                value:
                  event_reference: "event-123"
                  name: "Concert Night"
                  url: "https://example.com/event/concert-night"
                  organizer:
                    name: "Music Org"
                  information: "A night of great music."
                  images:
                    thumbnail:
                      content_type: "image/png"
                      data: "iVBORw0KGgoAAAANSUhEUgAA..."
                    landscape: null
                  schedule:
                    start: "2024-07-01T19:00:00+02:00"
                    end: "2024-07-01T23:00:00+02:00"
                    admission: "2024-07-01T18:00:00+02:00"
                  venue:
                    name: "Big Arena"
                    location:
                      city: "Stockholm"
                      address: "Arena Street 1"
                      zip: "12345"
                      coordinates:
                        longitude: "18.0686"
                        latitude: "59.3293"
      responses:
        "201":
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_key:
                    type: string
                    format: uuid
                    description: Unique identifier for the created event
                    example: "019782da-3b4a-7f6c-b8bd-e486dcf6e542"
        "400":
          description: Invalid request

  # ##############################################
  # GET,POST /v1/tenant/TKEY/agreement
  # ##############################################
  /v1/tenant/{tenantKey}/agreement:
    post:
      tags:
        - "Tenant API - Agreements"
      summary: Post an agreement to be signed
      operationId: Post Agreement
      description:
        This resource is used to post an agreement to be signed by the recipients
        listed in the metadata. An Agreement ID will be returned.

        Note that the size of the agreement file cannot exceed 1MB.
      security:
        - oAuth2Client:
            - "post:kivra.v1.tenant.{tenantKey}.agreement"
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        200:
          description: Agreement created succesfully
          content:
            application/json:
              schema:
                type: string
                example: "15544700816b7d63c83d6e476493879b5043ec9d7b"
        400:
          description: Agreement PDF was invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error40045"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Agreement"
    get:
      tags:
        - "Tenant API - Agreements"
      summary: List all agreements for a tenant, with their current status
      operationId: List agreements
      description: List all agreements created by a tenant, with their current status.
      security:
        - oAuth2Client:
            - "post:kivra.v1.tenant.{tenantKey}.agreement"
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        "200":
          description: List of agreements and their status
          content:
            application/json:
              schema:
                type: array
                description: list
                items:
                  $ref: "#/components/schemas/AgreementStateShort"
                example:
                  - key: "1527232009ba54f8186d8c43e2a3c8092b57ca2739"
                    state: active
                  - key: "155265136911763308f2514ff3aa6dacc8211a2107"
                    state: revoked
                  - key: "15100645203cff9f19d92443848c8a2f1cbf257510"
                    state: completed

  # ##############################################
  # GET /v1/tenant/TKEY/agreement/AKEY
  # ##############################################
  /v1/tenant/{tenantKey}/agreement/{agreementKey}:
    get:
      tags:
        - "Tenant API - Agreements"
      summary: Agreement object with current status and updated metadata
      operationId: Get agreement
      description: Get an agreement with current status and updated metadata
      security:
        - oAuth2Client:
            - "post:kivra.v1.tenant.{tenantKey}.agreement.{agreementKey}"
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: agreementKey
          in: path
          description: The unique Key for an Agreement
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        "200":
          description: Agreement object with current status and updated metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgreementStateDetailed"

  # ##############################################
  # GET /v1/tenant/TKEY/agreement/AKEY/revoke
  # ##############################################
  /v1/tenant/{tenantKey}/agreement/{agreementKey}/revoke:
    post:
      tags:
        - "Tenant API - Agreements"
      summary: Revoke an agreement
      operationId: Revoke agreement
      description: |
        Revoke an agreement. An agreement once revoked can no longer be accessed or signed by any of the parties. An agreement can only be rekoved if in state *active*, and after revoke will be put in state *revoked*. A revoked agreement can never become active again.
      security:
        - oAuth2Client:
            - "post:kivra.v1.tenant.{tenantKey}.agreement.{agreementKey}.revoke"
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: agreementKey
          in: path
          description: The unique Key for an Agreement
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        "204":
          description: empty response confirming that the revoke operation was successful
      requestBody:
        description: empty JSON body
        content:
          application/json:
            schema: {}

  # ##############################################
  # GET /v1/tenant/TKEY/agreement/AKEY/covenant
  # ##############################################
  /v1/tenant/{tenantKey}/agreement/{agreementKey}/covenant:
    get:
      tags:
        - "Tenant API - Agreements"
      summary: Get the covenant file (signed agreement)
      operationId: Get covenant agreement
      description: |
        Get the covenant file (the signed version of the agreement).
      security:
        - oAuth2Client:
            - "post:kivra.v1.tenant.{tenantKey}.agreement.{agreementKey}.covenant"
      parameters:
        - name: tenantKey
          in: path
          description: The unique Key for a Tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: agreementKey
          in: path
          description: The unique Key for an Agreement
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        "200":
          description: The covenant file as a PDF file with base64 encoding
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the file
                    type: string
                    example: "agreement7456_completed.pdf"
                  data:
                    description: The covenant file as a PDF file with base64 encoding
                    type: string
                    format: base64
                    example: "REVBREJFRUY="
                  sha256:
                    description: the signature to verify the file's authenticity
                    type: string

  # ##############################################
  # GET,POST /v2/tenant/TKEY/payment_cb
  # ##############################################
  /v2/tenant/{tenantKey}/payment_cb:
    get:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Lists all the tenant's defined payment webhooks.
      description: |
        This endpoint returns a list of all the payment webhooks that are
        defined for the tenant in question.
      parameters:
        - name: tenantKey
          in: path
          description: The key for the tenant.
          required: true
          schema:
            type: string
            format: hexadecimal
      responses:
        "200":
          description: "List of defined webhooks."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentCallbackDefinition"
    post:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Add a new webhook definition
      description: |
        This endpoint is used to add a new webhook definition.

        A tenant is allowed to define more than one webhook, but each one must
        have a unique URL.

        As long as a tenant has at least one webhook defined, Kivra's system
        will start accumulating data on payments made by Kivra users based on
        invoices sent by the tenant. When those payments reach certain points in
        their lifecycles, Kivra's system will make HTTPS POST requests to the
        URLs specified in the tenant's webhook definition, as long as those
        payments and events also match the rest of the fields in the defintion.
        That way a sender can choose to, for example, send events based on
        instant payments (for example Swish) to one URL and scheduled bank
        transfer payments to another URL.

        The receiving system must respond to Kivra's POST request with a
        2xx HTTP response code, and the response must come within one second of
        the connection being established.

        If the POST request is not successfully delivered, Kivra will retry up
        to ten times at increasing intervals following the recommended timetable
        from Standard Webhooks. If the delivery still has not succeeded when
        those attempts are down, the delivery attempt will be discarded.

      parameters:
        - name: tenantKey
          in: path
          description: The key for the tenant
          required: true
          schema:
            type: string
            format: hexadecimal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  description: |
                    The URL to which Kivra will try to deliver the webhook
                    payloads. Must not be in a reserved domain, must have at
                    least one IPv4 address and must not have any IPv4 addresses
                    in a reserved range. The URL scheme must be HTTPS.
                  type: string
                  format: url
                types:
                  description: |
                    A list of the types of payments that the tenant wants to
                    receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - instant
                      - bank
                      - autogiro
                events:
                  description: |
                    A list of the payment lifecycle events that the tenant wants
                    to receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - scheduled
                      - settled
                      - failed
      responses:
        "201":
          description: |
            The definition of the just-created webhook.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentCallbackDefinition"

  # ##############################################
  # DELETE,POST /v2/tenant/TKEY/payment_cb/ID
  # ##############################################
  /v2/tenant/{tenantKey}/payment_cb/{id}:
    delete:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Remove a webhook definition.
      description: |
        This endpoint removes a webhook definition.
      parameters:
        - name: tenantKey
          in: path
          description: The key for the tenant.
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: id
          in: path
          description: The ID of the webhook definition to be changed.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: "The webhook definition was successfully removed."
    post:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Modify a webhook definition
      description: |
        This endpoint is used to modify a webhook definition.
      parameters:
        - name: tenantKey
          in: path
          description: The key for the tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: id
          in: path
          required: true
          description: |
            The ID of the webhook to be modified.
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  description: |
                    The URL to which Kivra will try to deliver the webhook
                    payloads. Must not be in a reserved domain, must have at
                    least one IPv4 address and must not have any IPv4 addresses
                    in a reserved range. The URL scheme must be HTTPS.
                  type: string
                  format: url
                types:
                  description: |
                    A list of the types of payments that the tenant wants to
                    receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - instant
                      - bank
                      - autogiro
                events:
                  description: |
                    A list of the payment lifecycle events that the tenant wants
                    to receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - scheduled
                      - settled
                      - failed
      responses:
        "200":
          description: |
            The new definition of the just-modified webhook.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentCallbackDefinition"
  # ##############################################
  # POST /v2/tenant/TKEY/payment_cb/ID/test
  # ##############################################
  /v2/tenant/{tenantKey}/payment_cb/{id}/test:
    post:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Request a test delivery for a webhook definition
      description: |
        When this endpoint is called, delivery of a webhook with static test
        data in it will be schedued. The point of this is to allow development
        of a receiving endpoint without having to go through payment flows to
        trigger test data. Note that the content of the test webhook is
        nonsense, only the shape of the data and its signature are real.
      parameters:
        - name: tenantKey
          in: path
          description: The key for the tenant
          required: true
          schema:
            type: string
            format: hexadecimal
        - name: id
          in: path
          required: true
          description: |
            The ID of the webhook to be modified.
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json: {}
      responses:
        "204":
          description: |
            A test delivery was successfully scheduled.

  # ##############################################
  # GET,POST /v2/webhooks/payments
  # ##############################################
  /v2/webhooks/payments:
    get:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Lists all the partner's defined payment webhooks.
      description: |
        This endpoint returns a list of all the payment webhooks that are
        defined for the partner in question.
      responses:
        "200":
          description: "List of defined webhooks."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentWebhookDefinition"
    post:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Add a new webhook definition
      description: |
        This endpoint is used to add a new webhook definition.

        A partner is allowed to define more than one webhook. It's up
        to the partner themselves to make sure not to create duplicate
        definitions. If they do, they will receive duplicate webhooks
        for the same payments.

        A webhook definition essentially consists of a destination
        URL, and four fields defining a filter for which payments
        should be reported on. The fields are:

          - cid_filter: The client id of the partner who sent the
            invoice the payment was based on to Kivra. Can be a key or
            the special value `*`, which means all keys. This value is
            not possible to set via this API, since it would allow
            leaking information between partners. If you need to
            receive webhooks for payments based on invoices sent by
            another partner, contact Kivra.

          - tkey_filter: The tenant key for the actual sender of the
            invoice the payment was based on. This may be the same
            entity as the sending client, but very often is not. This
            key may also be set to the special value `*`, in which
            case webhooks will be delivered for all invoiced sent by
            the given client id, no matter which tenant they were sent
            on behalf of. It is never allowed for both this key and
            `cid_filter` to be set to `*`, since that would mean
            reporting on absolutely every payment made through Kivra.

          - payment_type: A list consisting with strings representing
            the types of payments webhooks should be delivered for.
            Currently available are `instant` (Swish), `bank` and
            `autogiro`.

          - payment_event: A list of the events concerning a payment
            that a webhook should be delivered for. Currently
            available are `scheduled`, `settled` and `failed`.

        The receiving system must respond to Kivra's POST request with a
        2xx HTTP response code, and the response must come within one second of
        the connection being established.

        If the POST request is not successfully delivered, Kivra will retry up
        to ten times at increasing intervals following the recommended timetable
        from Standard Webhooks. If the delivery still has not succeeded when
        those attempts are down, the delivery attempt will be discarded.

      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  description: |
                    The URL to which Kivra will try to deliver the webhook
                    payloads. Must not be in a reserved domain, must have at
                    least one IPv4 address and must not have any IPv4 addresses
                    in a reserved range. The URL scheme must be HTTPS.
                  type: string
                  format: url
                cid_filter:
                  description:
                    The client key of the party that made the API call
                    to send the invoice the payment was based on to
                    Kivra.
                  type: string
                tkey_filter:
                  description:
                    The tenant key of the sender of the invoice the
                    payment was based on.
                  type: string
                types:
                  description: |
                    A list of the types of payments that the tenant wants to
                    receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - instant
                      - bank
                      - autogiro
                events:
                  description: |
                    A list of the payment lifecycle events that the tenant wants
                    to receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - scheduled
                      - settled
                      - failed
      responses:
        "201":
          description: |
            The definition of the just-created webhook.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWebhookDefinition"

  # ##############################################
  # DELETE,PATCH /v2/webhooks/payments/ID
  # ##############################################
  /v2/webhooks/payments/{id}:
    delete:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Remove a webhook definition.
      description: |
        This endpoint removes a webhook definition.
      parameters:
        - name: id
          in: path
          description: The ID of the webhook definition to be changed.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: "The webhook definition was successfully removed."
    patch:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Modify a webhook definition
      description: |
        This endpoint is used to modify a webhook definition.
      parameters:
        - name: id
          in: path
          required: true
          description: |
            The ID of the webhook to be modified.
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  description: |
                    The URL to which Kivra will try to deliver the webhook
                    payloads. Must not be in a reserved domain, must have at
                    least one IPv4 address and must not have any IPv4 addresses
                    in a reserved range. The URL scheme must be HTTPS.
                  type: string
                  format: url
                cid_filter:
                  description:
                    The client key of the party that made the API call
                    to send the invoice the payment was based on to
                    Kivra.
                  type: string
                tkey_filter:
                  description:
                    The tenant key of the sender of the invoice the
                    payment was based on.
                  type: string
                types:
                  description: |
                    A list of the types of payments that the tenant wants to
                    receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - instant
                      - bank
                      - autogiro
                events:
                  description: |
                    A list of the payment lifecycle events that the tenant wants
                    to receive webhooks for.
                  type: array
                  items:
                    type: string
                    enum:
                      - scheduled
                      - settled
                      - failed
      responses:
        "200":
          description: |
            The new definition of the just-modified webhook.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWebhookDefinition"
  # ##############################################
  # POST /v2/webhooks/payments/ID/test
  # ##############################################
  /v2/webhooks/payments/{id}/test:
    post:
      tags:
        - "Tenant API - Payment Webhooks"
      summary: Request a test delivery for a webhook definition
      description: |
        When this endpoint is called, delivery of a webhook with static test
        data in it will be schedued. The point of this is to allow development
        of a receiving endpoint without having to go through payment flows to
        trigger test data. Note that the content of the test webhook is
        nonsense, only the shape of the data and its signature are real.
      parameters:
        - name: id
          in: path
          required: true
          description: |
            The ID of the webhook to be modified.
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json: {}
      responses:
        "204":
          description: |
            A test delivery was successfully scheduled.

  # ##############################################
  # GET /v1/partner/company
  # ##############################################
  /v1/partner/company:
    get:
      tags:
        - "Partner API v1"
      summary: Lookup a specific company
      operationId: Find Company
      description: |
        This resource allows a partner to look if a specific company has granted access to its mailbox.
        <aside class="notice">
        If a search is done and the Company doesn’t exist in Kivra or has not granted access to the partner, an empty list will be returned.
        </aside>
      parameters:
        - name: vat_number
          in: query
          description: Perform a search to see if a specific Company is available for access
          required: true
          schema:
            description: Company's unique VAT number
            type: string
            example: SE556840226601
      security:
        - oAuth2Client:
            - "get:kivra.v1.partner.company"
      responses:
        200:
          description: Company key for the company with the matching VAT number
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    description: Company's unique Key
                    type: string
                    example: "15236156848eefa1dc75364af2be38c98eb3aae223"

  # ##############################################
  # GET /v1/partner/company/COMPKEY/content
  # ##############################################
  /v1/partner/company/{companyKey}/content:
    get:
      tags:
        - "Partner API v1"
      summary: Get the company inbox
      operationId: Get company inbox
      description: This resource allows to access a high level description for each content in the company inbox, to allow for a first sorting and filtering of the content.
      parameters:
        - name: companyKey
          in: path
          description: The unique key for the company object being retrieved
          required: true
          schema:
            description: Company's unique key
            type: string
      security:
        - oAuth2Client:
            - "get:kivra.v1.partner.company.{companyKey}"
      responses:
        200:
          description: High level description of content items in the company inbox
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyInbox"

  # ##############################################
  # GET /v1/partner/company/COMPKEY/content/CONTKEY
  # ##############################################
  /v1/partner/company/{companyKey}/content/{contentKey}:
    get:
      tags:
        - "Partner API v1"
      summary: Get metadata for a content.
      operationId: Get content metadata
      description:
        This resource allows to get complete metadata information for a particular content.
        <aside class="notice">
        Depending on the `content_type` for each parts of the content, Kivra will return either a `key` to a binary file to be retrieved or (for text based contents) the `body` of the content itself.
        </aside>
      parameters:
        - name: companyKey
          in: path
          description: The unique key for the company object being retrieved
          required: true
          schema:
            description: Company's unique key
            type: string
        - name: contentKey
          in: path
          description: The unique key for a specific content
          required: true
          schema:
            description: Content's unique key
            type: string
      security:
        - oAuth2Client:
            - "get:kivra.v1.partner.company.{companyKey}.**"
      responses:
        200:
          description: Complete metadata for the specific content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyContent"

  # ##############################################
  # GET /v1/partner/company/COMPKEY/content/CONTKEY/file/FKEY/raw
  # ##############################################
  /v1/partner/company/{companyKey}/content/{contentKey}/file/{fileKey}/raw:
    get:
      tags:
        - "Partner API v1"
      summary: Get raw file in binary format
      operationId: Get raw file
      description: This resource allows to get the raw file in binary format.
      parameters:
        - name: companyKey
          in: path
          description: The unique key for the company object being retrieved
          required: true
          schema:
            description: Company's unique key
            type: string
        - name: contentKey
          in: path
          description: The unique key for a specific content
          required: true
          schema:
            description: Content's unique key
            type: string
        - name: fileKey
          in: path
          description: The unique key for a specific file
          required: true
          schema:
            description: File's unique key
            type: string
      security:
        - oAuth2Client:
            - "get:kivra.v1.partner.company.{companyKey}.**"
      responses:
        200:
          description: The content type will be the same as the file, so for a typical pdf it will be `application/pdf`
          content:
            application/json:
              schema:
                type: string
                format: binary

  # ##############################################
  # POST /v1/partner/company/COMPKEY/content/CONTKEY/STATUS
  # ##############################################
  /v1/partner/company/{companyKey}/content/{contentKey}/{status}:
    post:
      tags:
        - "Partner API v1"
      summary: Set status for content
      operationId: Set status for content
      description: This resource allows to set the status for a specific content. It is used by the partner to set whether the content should be marked as viewed or paid.
      parameters:
        - name: companyKey
          in: path
          description: The unique key for the company object being retrieved
          required: true
          schema:
            description: Company's unique key
            type: string
        - name: contentKey
          in: path
          description: The unique key for a specific content
          required: true
          schema:
            description: Content's unique key
            type: string
        - name: status
          in: path
          description: The specific state to be set for this content, can be `paid`, `unpaid`, `view` or `unview`
          required: true
          schema:
            description: The new state to be set for the content
            type: string
      security:
        - oAuth2Client:
            - "get:kivra.v1.partner.company.{companyKey}.**"
      responses:
        204:
          description: empty response confirming that the operation was successful
      requestBody:
        description: empty JSON body
        content:
          application/json:
            schema: {}

  # ##############################################
  # GET /v3/partner/company
  # ##############################################
  /v3/partner/company:
    get:
      tags:
        - "Partner API v3"
      summary: List accessible companies
      operationId: List companies
      description: List the companies the client has access to
      parameters:
        - name: field
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FieldQueryParameter"
        - name: vat_number
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/VatNumber"
      responses:
        "200":
          description: >
            If `vat_number` is given, the repsonse will only include companies with VAT numbers in that list.
            The `field` parameter controls which columns (CSV) or properties (JSON) to include in the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseCompany"
            text/csv:
              schema:
                type: string
              example: |
                key,type,name,vat_number
                2156077433683911cdca5fd4563bded979572454cb9,company,Cornelias
                Café AB,SE556000475501

  # ##############################################
  # GET /v3/partner/company/COMPKEY
  # ##############################################
  /v3/partner/company/{companyKey}:
    get:
      tags:
        - "Partner API v3"
      summary: Company information
      operationId: Get company information
      description: |
        Get detailed information for a single company.
      parameters:
        - name: companyKey
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CompanyKey"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FullCompany"

  # ##############################################
  # GET /v3/partner/company/COMPKEY/content
  # ##############################################
  /v3/partner/company/{companyKey}/content:
    get:
      tags:
        - "Partner API v3"
      summary: List company inbox
      operationId: List content in the company inbox
      description: |
        List the content the company has received.
        This may be filtered by certain `labels` and specific fields may be selected using `field`.

        Note that more content metadata is available via the
        [Get specific content](#tag/Partner-API-v3/operation/Get%20content) endpoint.
      parameters:
        - name: companyKey
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CompanyKey"
        - name: handled
          in: query
          schema:
            $ref: "#/components/schemas/HandledLabel"
        - name: viewed
          in: query
          schema:
            $ref: "#/components/schemas/ViewedLabel"
        - name: field
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FieldQueryParameter"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BaseContentMetadata"

  # ##############################################
  # GET,PATCH /v3/partner/company/COMPKEY/content/CONTKEY
  # ##############################################
  /v3/partner/company/{companyKey}/content/{contentKey}:
    get:
      tags:
        - "Partner API v3"
      summary: Get specific content
      description: |
        ### Content metadata

        Get metadata about a specific content in JSON format.

        ### Content file data

        A given content can contain multiple files ("parts"). Fetching of such parts is done by passing the `part` query parameter.

        A part can also be selected by setting the `Accept` header to the MIME type of the part you want
        (see `parts` in the metadata JSON response). You will receive the first part that matches the given
        MIME type.
      operationId: Get a specific company content
      parameters:
        - name: companyKey
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CompanyKey"
        - name: contentKey
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ContentKey"
        - name: part
          in: query
          schema:
            $ref: "#/components/schemas/PartQueryParameter"
      responses:
        "200":
          description: Content metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FullContentMetadata"
            "*/*":
              schema:
                $ref: "#/components/schemas/ContentPart"
    patch:
      tags:
        - "Partner API v3"
      summary: Update content metadata
      operationId: Update company content metadata
      parameters:
        - name: companyKey
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CompanyKey"
        - name: contentKey
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ContentKey"
      responses:
        "200":
          description: Content metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FullContentMetadata"
            "*/*":
              schema:
                $ref: "#/components/schemas/ContentPart"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                labels:
                  additionalProperties: false
                  properties:
                    handled:
                      description: Mark the content as `handled`/`unhandled`
                      $ref: "#/components/schemas/HandledLabel"
                    viewed:
                      description: Mark the content as `viewed`/`unviewed`
                      $ref: "#/components/schemas/ViewedLabel"
                  type: object
              type: object
        required: true

components:
  schemas:
    # ##############################################
    # SCHEMA TicketsCreateEvent
    # ##############################################
    TicketsCreateEvent:
      type: object
      required: ["event_reference", "name", "organizer", "schedule", "venue"]
      properties:
        event_reference:
          type: string
          description: Used for uniqness of the event, only one event can be created with a specific event_reference.
        name:
          type: string
          description: The name of the event.
        url:
          type: [string, "null"]
          format: uri
          description: A URL to the event's website or more information. Must be HTTPS.
        organizer:
          type: object
          required: [name]
          properties:
            name:
              type: string
        information:
          type: [string, "null"]
        images:
          type: [object, "null"]
          properties:
            thumbnail:
              type: [object, "null"]
              required: [content_type, data]
              properties:
                content_type:
                  type: string
                  enum: ["image/jpeg", "image/png", "image/webp"]
                data:
                  type: string
                  description: Base64 encoded string
            landscape:
              type: [object, "null"]
              required: [content_type, data]
              properties:
                content_type:
                  type: string
                  enum: ["image/jpeg", "image/png", "image/webp"]
                data:
                  type: string
                  description: Base64 encoded string
        schedule:
          type: object
          required: [start]
          properties:
            start:
              type: string
            end:
              type: [string, "null"]
            admission:
              type: [string, "null"]
        venue:
          type: object
          required: [name]
          properties:
            name:
              type: string
            location:
              type: [object, "null"]
              properties:
                city:
                  type: [string, "null"]
                address:
                  type: [string, "null"]
                zip:
                  type: [string, "null"]
                coordinates:
                  type: [object, "null"]
                  required: [longitude, latitude]
                  properties:
                    longitude:
                      type: string
                    latitude:
                      type: string
    # ##############################################
    # SCHEMA TicketEventMetadata
    # ##############################################
    TicketEventMetadata:
      type: object
      required: [event_key, tickets]
      properties:
        event_key:
          type: string
          description: Reference to the event (created via /tickets/event)
        order_id:
          type: [string, "null"]
          description: Optional order identifier
        group_ticket:
          type: [object, "null"]
          properties:
            qr_data:
              type: string
              description: QR code data for the group ticket
          required: [qr_data]
        tickets:
          type: array
          minItems: 1
          items:
            type: object
            required: [qr_data, type]
            properties:
              seating:
                type: [object, "null"]
                properties:
                  seat:
                    type: [string, "null"]
                  row:
                    type: [string, "null"]
                  section:
                    type: [string, "null"]
                  gate:
                    type: [string, "null"]
              qr_data:
                type: string
                description: QR code data for the ticket
              type:
                type: string
                description: Ticket type (e.g., "Standard", "VIP")

    # ##############################################
    # SCHEMA Content_user
    # ##############################################
    Content_user:
      $ref: "./_partials/schema-v2-tenantkey-content-response.yml"

    # ##############################################
    # ⚡⚡⚡ SCHEMA SalarySlip - NEW! ⚡⚡⚡
    # ##############################################
    SalarySlip:
      description: |
        ⚡⚡⚡ NEW SALARY SLIP SCHEMA ⚡⚡⚡

        Comprehensive salary slip metadata schema for the "salaryslip" content type.
        Contains structured information about employee salary, benefits, taxes, and employment details.
      $ref: "./_partials/schema-salary-slip.yml"

    # ##############################################
    # SCHEMA Content_user_v2
    # ##############################################
    Content_user_v2:
      type: object
      required:
        - subject
        - type
      properties:
        ssn:
          description: |
            User's unique SSN, according to the `YYYYMMDDnnnn` format
          type: string
          writeOnly: true
          example: "191212121212"
        email:
          description: |
            A kivra user's verified email address.
          type: string
          writeOnly: true
          example: "Kivra.Sweden@example.com"
        subject:
          description: |
            The subject/title will be visibile in the Recipients Inbox.
            Keep the subject short and concise (i.e. up to 30-35 characters) to make sure that is fully visible on most screen sizes.
            Avoid using personal or sensitive information in the subject.
          type: string
          example: "Invoice for March 2022"
        generated_at:
          type: string
          format: ISO8601
          example: "2022-12-31"
          description: |
            Optional attribute which denotes when a specific Content was generated at the tenant/integrator’s site.
            The attribute will be used for sorting in the Kivra user interface, which makes it possible for a tenant or integrator to control the sorting.
        type:
          type: string
          example: "letter"
          description: |
            Optional attribute providing information about the type of content being sent.
            The type of a content may influence how the user interacts with the content and how the user is notified about the content.
            Allowed values are:
            - `"letter"`: indicating that the content is an information letter. This is the default type for all non-payable content.
            - `"letter.salary"`: indicating that the content is a salary specification. This type support the retained functionality.
            - `"salaryslip"`: ⚡⚡⚡ NEW SALARY SLIP TYPE ⚡⚡⚡ indicating that the content is a salary slip with structured metadata. A valid `salary_slip` object needs to be provided. This type includes detailed payment information, employer details, benefits, holidays, and tax information.
            - `"letter.creditnotice"`: indicating that the content is a creditnotice. This type support the retained functionality.
            - `"letter.form"`: indicating that the content contains a form.
            - `"letter.signed"`: indicates that the content contains a signed document. This type support the retained functionality.
            - `"invite.research"`: for invitations to participate in surveys and polls.
            - `"invite.gift"`: for invitations to collect a gift.
            - `"invite.sign"`: for invitations to sign a document. This type support the retained functionality.
            - `"invite.voucher"`: for invitations to use a voucher
            - `"invite.kyc"`: for invitations to complete KYC (Know Your Customer) process.
            - `"invoice"`: |
              indicating that the content is an invoice. A valid `payment_multiple_options` object needs to be provided and the `payable` attribute must be set to `true`.
              This is the default type for all payable content.
            - `"invoice.reminder"`: |
[...]
