body {
  margin: 0;
  padding: 0;
}

/* This alt hack depends on x-logo in swagger.yml,
 * if you have a better solution that let's us size
 * our own logo but not the logo in the navbar footer,
 * feel free to improve this.
 */
.menu-content img[alt="Kivra logo"] {
  padding: 20px 0 10px 20px;
  width: 130px;
  height: auto;
}
